In [1]:
# Load data
import pandas as pd

data = pd.read_csv("ae_trials.csv")
data.head()

,name,dataset,type,attempt,leader,input_size,hidden_layers,hidden_layers_divisor,z_layer_divisor,dropout,learning_rate,batch_size,gen_loss,disc_loss,val_loss,epochs
0,20230223145652,Task 1,Adversarial AE,0,NaN,4096,2,8,4,0.25,1.000000e-07,8,0.290152,1.412388,0.016425,300
1,20230223150008,Task 1,Vanilla AE,0,2.023022e+13,4096,2,8,4,0.25,1.000000e-07,8,NaN,NaN,0.017333,300
2,20230223150136,Task 1,Adversarial AE,1,2.023022e+13,4096,2,8,4,0.25,1.000000e-07,8,0.281000,1.407293,0.014398,300
3,20230223150448,Task 1,Vanilla AE,1,2.023022e+13,4096,2,8,4,0.25,1.000000e-07,8,NaN,NaN,0.014976,300
4,20230223150615,Task 1,Adversarial AE,2,2.023022e+13,4096,2,8,4,0.25,1.000000e-07,8,0.342420,1.353908,0.017806,300

In [2]:
data["len"] = [1 for d in data.values]

data.to_csv("ae_trials.csv")