In [1]:
# Load data
import pandas as pd

data = pd.read_csv("ae_trials.csv")
data.head()

,name,dataset,type,attempt,leader,input_size,hidden_layers,hidden_layers_divisor,z_layer_divisor,dropout,learning_rate,batch_size,gen_loss,disc_loss,val_loss,epochs
0,20230224233553,Task 3,Adversarial AE,0,NaN,4096,2,2,4,0.5,1.000000e-07,8,0.710829,0.685239,0.036161,300
1,20230224234106,Task 3,Vanilla AE,0,2.023022e+13,4096,2,2,4,0.5,1.000000e-07,8,NaN,NaN,0.045027,300
2,20230224234323,Task 3,Adversarial AE,1,2.023022e+13,4096,2,2,4,0.5,1.000000e-07,8,0.688367,0.699838,0.031518,300
3,20230224234831,Task 3,Vanilla AE,1,2.023022e+13,4096,2,2,4,0.5,1.000000e-07,8,NaN,NaN,0.049412,300
4,20230224235042,Task 3,Adversarial AE,2,2.023022e+13,4096,2,2,4,0.5,1.000000e-07,8,0.622175,0.773729,0.048081,300

In [2]:
data["len"] = [1 for d in data.values]

data.to_csv("ae_trials.csv")